@charset "UTF-8";
/* -------------------------------------------------------------------------------
  for horizontal-tb
 ------------------------------------------------------------------------------ */
html {
  -epub-writing-mode:horizontal-tb;
  -webkit-writing-mode:horizontal-tb;
}
/* -----------------------------------------------------------------------------
  [Type Selector]
 ---------------------------------------------------------------------------- */
body {
  line-height: 1.6;
  font-family: "ＭＳ 明朝",serif;
}
/* headings */
h1,h2,h3,h4,h5,h6 {
  font-family: "ＭＳ ゴシック",sans-serif;
}
/* -----------------------------------------------------------------------------
  [Class Selector]
 ---------------------------------------------------------------------------- */
/* body */
body.titlepage {
}
body.tocpage {
}
body.chapter_page {
}
body.body_text {
}
body.sectional_ttl {
}
body.colophonpage {
}
body.body_left {
  text-align:left;
}
body.pbr {
  text-align:center;
  font-size:90%;
}
/* headings */
h1.ttl {
  font-family: "ＭＳ 明朝",serif;
}
h2.tobira {
  font-family: "ＭＳ ゴシック",sans-serif;
  text-align:center;
}
h2.chapter {
  font-family: "ＭＳ ゴシック",sans-serif;
  padding-top:0.5em;
  padding-bottom:0.5em;
}
h3.subchapter {
  padding-left:2em;
  padding-top:0.5em;
  padding-bottom:0.5em;
  text-indent:-1em;
}
h2.tocttl {
  letter-spacing: 1em;
  padding-left:2em;
  padding-bottom:0.5em;
}
h2.tocttl-en {
  padding-left:2em;
  padding-bottom:0.5em;
}
h4.sectionttl {
  padding-left:2em;
  padding-top:0.5em;
  padding-bottom:0.5em;
}
h5.subsection {
  padding-left:2.5em;
  padding-top:0.5em;
  padding-bottom:0.5em;
}
h6.topic {
  padding-left:3em;
  padding-top:0.5em;
  padding-bottom:0.5em;
}
/* image */
img.block {
  max-height:50%;
}
img.block75 {
  max-height:75%;
  padding-top:1em;
  padding-right:1em;
  padding-left:1em;
}
img.block60 {
  max-height:60%;
  padding-top:1em;
  padding-right:1em;
  padding-left:1em;
}
img.inline {
  max-height:50%;
}
img.prdbyrmcr {
/* Powerd by Romancer */
  display:inline;
  width:auto;
  height:auto;
  max-width:30%; 
}
/* text decoration */
.underline {
  text-decoration:underline;
  text-underline-position: under left;
  -webkit-text-underline-position:under left;
}
.gothic {
  font-family: "ＭＳ ゴシック",sans-serif !important;
}
.mincho {
  font-family: "ＭＳ 明朝",serif !important;
}
.character {
  font-family: "ＭＳ ゴシック",sans-serif !important;
  font-size:90%;
}
.photocap {
  padding-top:1em;
}
.col_start_1em {
  padding-left:1em;
}
.col_start_5em {
  padding-left:5em;
}
.col_latin {
  font-family:"Times New Roman",serif;
}
/* indent */
.asterisk_start {
  text-align: center;
}


.level1 {
  padding-left:0;
}
.level2 {
  padding-left:1em;
}
.level3 {
  padding-left:2em;
}
.toclevel1 {
  padding-left:0;
  padding-top:0.5em;
}
.toclevel2 {
  padding-left:1em;
}
.toclevel3 {
  padding-left:2em;
}
.gaiji {
  vertical-align: text-bottom;
}
.footnote {
  padding-left:3em;
  text-indent:-2em;
  font-size:90%;
  padding-top:0.5em;
  padding-bottom:1em;
}
div.chapt {
  margin-top:2em;
}
.mystyle_Balloon0x20Text {
  font-family:"ＭＳ ゴシック",sans-serif !important;
  font-size:90%;
}
.mystyle_Document0x20Map {
  font-family:"ＭＳ ゴシック",sans-serif !important;
  font-size:110%;
  font-weight:normal;
}
.mystyle_Hyperlink {
  color:#0000ff;
  text-decoration:underline;
  text-underline-position: under left;
  -webkit-text-underline-position:under left;
}
.mystyle_Normal {
  text-indent:1em;
}
.mystyle_TOC0x20Heading {
  color:#365f91;
  font-family:"ＭＳ ゴシック",sans-serif !important;
  font-size:120%;
  margin-bottom:0em;
  margin-top:3.84em;
  text-align:justify;
}
.mystyle_annotation0x20reference {
  font-size:90%;
}
.mystyle_annotation0x20subject {
  font-weight:bold;
  text-align:justify;
}
.mystyle_annotation0x20text {
  text-align:justify;
}
.mystyle_character-10 {
  font-family:"ＭＳ ゴシック",sans-serif !important;
  font-size:110%;
  font-weight:bold;
}
.mystyle_character-20 {
  font-family:"ＭＳ ゴシック",sans-serif !important;
  font-size:100%;
  font-weight:bold;
}
.mystyle_character-30 {
  font-family:"ＭＳ ゴシック",sans-serif !important;
}
.mystyle_character-a6 {
  font-family:"ＭＳ ゴシック",sans-serif !important;
  font-size:90%;
}
.mystyle_character-aa {
  font-family:"ＭＳ ゴシック",sans-serif !important;
  font-size:110%;
  font-weight:normal;
}
.mystyle_character-af4 {
  font-weight:bold;
}
.mystyle_d_para_list {
  padding-left:1em;
  text-indent:-1em;
}
.mystyle_footer {
  text-indent:1em;
}
.mystyle_header {
  text-indent:1em;
}
.mystyle_heading {
  }
.mystyle_heading-1 {
  font-family:"ＭＳ ゴシック",sans-serif !important;
  font-size:110%;
  font-weight:bold;
  margin-bottom:1.6em;
  text-indent:1em;
}
.mystyle_heading-2 {
  font-family:"ＭＳ ゴシック",sans-serif !important;
  font-size:100%;
  font-weight:bold;
  margin-bottom:0.8em;
  margin-top:0.8em;
  text-indent:1em;
}
.mystyle_heading-3 {
  font-family:"ＭＳ ゴシック",sans-serif !important;
  margin-bottom:0.8em;
  margin-top:0.8em;
  padding-left:2em;
  text-indent:1em;
}
.mystyle_list-para {
  padding-left:4em;
  text-indent:1em;
}
.mystyle_ll_in_h1 {
  font-size:136%;
}
.mystyle_padding-start_2em_text-indent_1em {
  padding-left:2em;
  text-indent:1em;
}
.mystyle_paragraph-116pt {
  font-family:"ＭＳ ゴシック",sans-serif !important;
  font-size:150%;
  margin-bottom:1.6em;
  padding-left:3em;
  text-indent:1em;
}
.mystyle_paragraph-31 {
  margin-bottom:0.8em;
  margin-top:0.8em;
  padding-left:3em;
  text-indent:1em;
}
.mystyle_paragraph-340505 {
  font-family:"ＭＳ ゴシック",sans-serif !important;
  margin-bottom:1.6em;
  margin-top:1.6em;
  padding-left:2em;
  text-indent:1em;
}
.mystyle_paragraph-a {
  padding-left:4em;
  text-indent:-2em;
}
.mystyle_paragraph-a4 {
  font-size:90%;
  padding-left:2em;
}
.mystyle_paragraph-a7 {
  padding-left:3em;
  text-indent:1em;
}
.mystyle_paragraph-a8 {
  padding-left:2em;
  text-indent:1em;
}
.mystyle_paragraph-af5 {
  font-family:"ＭＳ ゴシック",sans-serif !important;
  padding-left:2em;
  text-indent:1em;
}
.mystyle_paragraph-af6 {
  padding-left:4em;
  text-indent:-2em;
}
.mystyle_paragraph-af7 {
  padding-left:6em;
  text-indent:1em;
}
.mystyle_text-indent_1_5em {
  text-indent:1.5em;
}
.mystyle_text-indent_1em {
  text-indent:1em;
}
.mystyle_tobira-head1 {
  font-family:"ＭＳ ゴシック",sans-serif !important;
  font-size:150%;
  font-weight:bold;
  padding-left:5em;
}
.mystyle_toc0x201 {
  text-indent:1em;
}
.mystyle_toc0x202 {
  padding-left:1em;
  text-indent:1em;
}
.mystyle_toc0x203 {
  padding-left:2em;
  text-indent:1em;
}

