@charset "UTF-8";
/* -------------------------------------------------------------------------------
  for horizontal-tb
 ------------------------------------------------------------------------------ */
html {
  -epub-writing-mode:horizontal-tb;
  -webkit-writing-mode:horizontal-tb;
}
/* -----------------------------------------------------------------------------
  [Type Selector]
 ---------------------------------------------------------------------------- */
body {
  line-height: 1.6;
  font-family: "ＭＳ 明朝",serif;
}
/* headings */
h1,h2,h3,h4,h5,h6 {
  font-family: "ＭＳ ゴシック",sans-serif;
}
/* -----------------------------------------------------------------------------
  [Class Selector]
 ---------------------------------------------------------------------------- */
/* body */
body.titlepage {
}
body.tocpage {
}
body.chapter_page {
}
body.body_text {
}
body.sectional_ttl {
}
body.colophonpage {
}
body.body_left {
  text-align:left;
}
body.pbr {
  text-align:center;
  font-size:90%;
}
/* headings */
h1.ttl {
  font-family: "ＭＳ 明朝",serif;
}
h2.tobira {
  font-family: "ＭＳ ゴシック",sans-serif;
  text-align:center;
}
h2.chapter {
  font-family: "ＭＳ ゴシック",sans-serif;
  padding-top:0.5em;
  padding-bottom:0.5em;
}
h3.subchapter {
  padding-left:2em;
  padding-top:0.5em;
  padding-bottom:0.5em;
  text-indent:-1em;
}
h2.tocttl {
  letter-spacing: 1em;
  padding-left:2em;
  padding-bottom:0.5em;
}
h2.tocttl-en {
  padding-left:2em;
  padding-bottom:0.5em;
}
h4.sectionttl {
  padding-left:2em;
  padding-top:0.5em;
  padding-bottom:0.5em;
}
h5.subsection {
  padding-left:2.5em;
  padding-top:0.5em;
  padding-bottom:0.5em;
}
h6.topic {
  padding-left:3em;
  padding-top:0.5em;
  padding-bottom:0.5em;
}
/* image */
img.block {
  max-height:50%;
}
img.block75 {
  max-height:75%;
  padding-top:1em;
  padding-right:1em;
  padding-left:1em;
}
img.block60 {
  max-height:60%;
  padding-top:1em;
  padding-right:1em;
  padding-left:1em;
}
img.inline {
  max-height:50%;
}
img.prdbyrmcr {
/* Powerd by Romancer */
  display:inline;
  width:auto;
  height:auto;
  max-width:30%; 
}
/* text decoration */
.underline {
  text-decoration:underline;
  text-underline-position: under left;
  -webkit-text-underline-position:under left;
}
.gothic {
  font-family: "ＭＳ ゴシック",sans-serif !important;
}
.mincho {
  font-family: "ＭＳ 明朝",serif !important;
}
.character {
  font-family: "ＭＳ ゴシック",sans-serif !important;
  font-size:90%;
}
.photocap {
  padding-top:1em;
}
.col_start_1em {
  padding-left:1em;
}
.col_start_5em {
  padding-left:5em;
}
.col_latin {
  font-family:"Times New Roman",serif;
}
/* indent */
.asterisk_start {
  text-align: center;
}


.level1 {
  padding-left:0;
}
.level2 {
  padding-left:1em;
}
.level3 {
  padding-left:2em;
}
.toclevel1 {
  padding-left:0;
  padding-top:0.5em;
}
.toclevel2 {
  padding-left:1em;
}
.toclevel3 {
  padding-left:2em;
}
.gaiji {
  vertical-align: text-bottom;
}
.footnote {
  padding-left:3em;
  text-indent:-2em;
  font-size:90%;
  padding-top:0.5em;
  padding-bottom:1em;
}
div.chapt {
  margin-top:2em;
}
.mystyle_Balloon0x20Text {
  font-family:"ＭＳ ゴシック",sans-serif !important;
  font-size:90%;
}
.mystyle_character-10 {
  font-family:"ＭＳ ゴシック",sans-serif !important;
  font-size:150%;
}
.mystyle_character-a4 {
  font-family:"ＭＳ ゴシック",sans-serif !important;
  font-size:90%;
}
.mystyle_d_para_list {
  padding-left:1em;
  text-indent:-1em;
}
.mystyle_heading-1 {
  font-family:"ＭＳ ゴシック",sans-serif !important;
  font-size:150%;
  margin-bottom:2.4em;
  padding-left:2em;
}
.mystyle_normal-para {
  text-indent:1em;
}

